.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact__blocks > * + * {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.rich-text__blocks.right .field__label {
  left: auto;
  right: calc(var(--inputs-border-width) + 2rem);
}

.rich-text__blocks.center .field__label {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* custom styles */
.animate-input-underline .field {
  position: relative;
}

.animate-input-underline .field::after {
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  border: none;
  height: 0.2rem;
  box-shadow: none;
  background-color: rgb(var(--color-foreground));
  width: var(--input-underline-percentage, 0);
  transition: width var(--duration-medium) ease;
  -webkit-transition: width var(--duration-medium) ease;
  -moz-transition: width var(--duration-medium) ease;
  -ms-transition: width var(--duration-medium) ease;
  -o-transition: width var(--duration-medium) ease;
}

.animate-input-underline .field:hover.field::after {
  box-shadow: none;
}