.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
/* custom codes */
.section--richtext {
  min-height: calc(var(--richtext-animation-height, 100vh) * (var(--richtext-animation-blocks, 0) + 1));
}

.richtext--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: var(--richtext-animation-height, 100vh);
}

.richtext--container {
  position: sticky;
  top: 0;
}

.richtext--container > * {
  flex-grow: 1;
}

.richtext--container .isolate {
  position: static;
}

.richtext--container .rich-text__text {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100vh;
  height: 100vh;
  margin-top: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.richtext--container .rich-text__text-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: auto;
  padding: 1.5rem;
  overflow-x: auto;
  max-height: 45rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.richtext--container div[data-animation="PopInCircle"] {
  clip-path: circle(0 at center);
}

@media (orientation: portrait) {
  .richtext--container .rich-text__text {
    top: 0;
    width: 100vw;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}