.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text:not(.rich-text--full-width) .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text:not(.rich-text--full-width) .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
/* custom codes */
.section--richtext {
  min-height: calc((var(--richtext-animation-height, 100vh) * (var(--richtext-animation-blocks, 0) + 1)) + var(--animation-extra, 0px));
  overflow: clip;
}

.richtext--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: var(--richtext-animation-height, 100vh);
}

.richtext--container {
  position: sticky;
  top: 0;
}

.richtext--container > * {
  flex-grow: 1;
}

.richtext--container .rich-text__text {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100vh;
  height: var(--richtext-animation-height, 100vh);
  margin-top: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.richtext--container .rich-text__text-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: auto;
  padding: 1.5rem;
  overflow-x: auto;
  max-height: 50rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.richtext--container div[data-animation="PopInCircle"] {
  clip-path: circle(0 at center);
}

@media (orientation: landscape) {  
  .richtext--container .rich-text__text-inner {
    top: 60%;
    left: 40%;
  }
}

@media (orientation: portrait) {
  .richtext--container .rich-text__text {
    width: 100vw;
  }

  .richtext--container .rich-text__text-inner {
    top: 60%;
    left: 70%;
  }
}

@media (orientation: portrait) and (max-width: 749px) {
  .richtext--container .rich-text__text {
    font-size: 14px;
  }

  .richtext--container .rich-text__text-inner

  .richtext--container .rich-text__text-inner {
    top: 65%;
    right: 0;
    left: auto;
    width: 30rem;
    padding: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.section--richtext .rich-text__heading,
.section--richtext .rich-text__heading span {
  transition: all var(--duration-long) var(--ease-out-slow);
  -webkit-transition: all var(--duration-long) var(--ease-out-slow);
  -moz-transition: all var(--duration-long) var(--ease-out-slow);
  -ms-transition: all var(--duration-long) var(--ease-out-slow);
  -o-transition: all var(--duration-long) var(--ease-out-slow);
}

.section--richtext:not(.animate-richtext) .rich-text__heading-animate-span span {
  color: rgba(var(--color-foreground-secondary), 1);
}

.animate-richtext .rich-text__heading-animate {
  color: rgba(var(--color-foreground-secondary), .8);
}

.animating-circle .rich-text__heading-animate-blur {
  filter: blur(var(--heading-blur-strength, 3px));
  -webkit-filter: blur(var(--heading-blur-strength, 3px));
  text-shadow: 0 0 calc(var(--heading-blur-strength)* 2) rgba(var(--color-foreground-secondary), 1);
}

.section--richtext .rich-text__heading-animate-span {
  transform-origin: top left;
}

.rich-text__heading.h1 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

@media screen and (min-width: 750px) {
  .rich-text__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

@media screen and (min-width: 990px) {
  .animate-richtext .rich-text__heading-animate-span {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  .rich-text__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 5.6rem);
  }
}

@media screen and (max-width: 989px) {
  .h10xl {
    font-size: calc(var(--font-heading-scale) * 6.6rem);
  }
}

@media screen and (max-width: 749px) {
  .h10xl {
    font-size: calc(var(--font-heading-scale) * 3.6rem);
  }
}